
@{
    Layout = null;
}

<h3>Mvc Camp Table Example - Category</h3>
<br />

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Education</td>
        <td>We made a statement</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Sport</td>
        <td>We made a statement</td>
        <td>True</td>
    </tr>
</table>
